*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.header-form select{ 

    text-transform: capitalize;
    border: none;
    font-weight: 700;
}
.top-header span{

    color: red;
}
.top-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: 3rem;
    align-items: center;
}
.top-header p{
    text-transform: capitalize;
    font-weight: 400;
    justify-self: end;
}
.header-nav{
    padding: 0rem 2rem;
    background-color: rgb(207,4,4);
    color: white;
}
.header-nav h1{
    text-transform: uppercase;
    font-weight: lighter;  
}
.header-nav ul{ 
    list-style-type: none;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto 1fr;
    gap: 0 1rem;
    align-items: center;


}

.header-nav li{
    
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    font-size: 1.125rem;
}

.header-search{
    display: flex;
    border: 1px solid black;
    display: inline-block;
    background-color: white;
}


.header-search input{
    display: inline-block;
    font-size: 1.1rem;
    background-color: white;
    line-height: 1.5;
    border: none;
    
   
}

.header-search label{
    display: inline-block;
    background-color: white;
    padding: 0.2rem;
   
}

.header-nav{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: space-between;
    justify-items: end;
}           


